In [18]:
import numpy as np
import pandas as pd
from pandas import DataFrame
# import json
# import csv
with open ("/content/Follow.json") as file:
  data = json.loads(file.read())
follow=pd.json_normalize(data)
follow
df1=pd.DataFrame(follow)
df1

   followerCount  followingUsersCount  dismissingUsersCount
0             10                    2                     0

In [19]:
with open ("/content/Identifiers.json") as file:
  data = json.loads(file.read())
identifiers=pd.json_normalize(data)
df2=pd.DataFrame(identifiers)
df2

  identifierType            identifierValue
0          email  rajpurkhampur11@gmail.com

In [23]:
with open ("/content/Identity.json") as file:
  data = json.loads(file.read())
identity=pd.json_normalize(data)
df3=pd.DataFrame(identity)
df3

   displayName firstName lastName imageUrl largeImageUrl  tasteMaker  verified
0  Sawan Bagle     Sawan    Bagle                              False     False

In [24]:
with open ("/content/Payments.json") as file:
  data = json.loads(file.read())
payments=pd.json_normalize(data)
df5=pd.DataFrame(payments)
df5

Empty DataFrame
Columns: []
Index: [0]

In [26]:
with open ("/content/StreamingHistory0.json") as file:
  data = json.loads(file.read())
history=pd.json_normalize(data)
df6=pd.DataFrame(history)
df6

             endTime  ... msPlayed
0   2021-09-25 14:20  ...   298549
1   2021-04-13 10:18  ...     8427
2   2021-04-13 17:45  ...   261413
3   2021-04-13 18:22  ...    12062
4   2021-04-13 18:22  ...   145255
..               ...  ...      ...
73  2021-09-27 20:42  ...   335040
74  2021-09-27 20:46  ...   236216
75  2021-09-27 20:52  ...   277773
76  2021-09-27 20:57  ...   319619
77  2021-09-27 21:03  ...   303320

[78 rows x 4 columns]

In [27]:
with open ("/content/Userdata.json") as file:
  data = json.loads(file.read())
user=pd.json_normalize(data)
df7=pd.DataFrame(user)
df7

                       username  ... creationTime
0  31en2zr6b7rtr4q75xqskkrhx4ni  ...   2021-05-25

[1 rows x 12 columns]

In [28]:
with open ("/content/YourLibrary.json") as file:
  data = json.loads(file.read())
library=pd.json_normalize(data)
df8=pd.DataFrame(library)
df8

                                              tracks albums  ... bannedArtists other
0  [{'artist': 'Akull', 'album': 'Bahana', 'track...     []  ...            []    []

[1 rows x 8 columns]